.site-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    flex-shrink: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: auto;
    color: white;
  }
  
  .site-title::after {
    content:'.';
    position: absolute;
    right: -5px;
    bottom: 35px;
    font-size: 2rem;
    font-family: serif;
    color: #37BA83;
    margin-right: auto;
  }
  
  .nav{
    display: inline-flex;
    width: 100%;

  }
  .nav ul{
    list-style-type: none;

  }
  .nav-link-item {
    padding-left: 2rem;
    display: inline-block;
    position: relative;
    list-style-type: none;
    color: white;
   
  }

  .nav-link-item a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
  .container{
    background-color: black;
    padding: 3rem;
  }
  .main {
    color: white;
  }